

<div class="white clearfix directions">
    <div class="container-fluid">
        <div class="col-sm-12">
            <h2>Sushirrito Locations - Come roll with us!</h2>
        </div>
        <div class="loc-container">
            <div class="col-sm-3">
                <h4>Fidi</h4>
                <p>475 Sansome Street <br/>(entrance on Clay Street) <br/> San Francisco, CA 94111</p>
                <p>415-393-9905</p>
                <div class="hours">
                    <p><span>Monday thru Friday</span> <span>11-3</span></p>
                </div>
                <button class="btn btn-default locations">
                    <%= link_to "View Menu", "/food/sf"%>
                </button>
                <button class="btn btn-default home">
                    <%= link_to "Get Directions", "/locations"%>
                </button>
            </div>

            <div class="col-sm-9">
                <a href="https://goo.gl/maps/DHT2y" target="_blank">
                    <div id="map-fidi"></div>
                </a>
            </div>
        </div>
        <div class="loc-container">
        <div class="col-sm-3">
            <h4>Soma</h4>
            <p>59 New Montgomery Street <br/> San Francisco, CA 94105</p>
            <p>415-495-7655</p>
            <div class="hours">
                <p><span>Monday thru Friday</span> <span>11-3</span></p>
            </div>
            <button class="btn btn-default locations">
                <%= link_to "View Menu", "/food/sf"%>
            </button>
            <button class="btn btn-default home">
                <%= link_to "Get Directions", "/locations"%>
            </button>
        </div>
        <div class="col-sm-9">
            <a href="https://goo.gl/maps/zr1Wx" target="_blank">
                <div id="map-soma"></div>
            </a>
        </div>
        </div>
        <div class="loc-container">
        <div class="col-sm-3">
            <h4>Union Square/Fidi</h4>
            <p>226 Kearny Street <br/> San Francisco, CA 94108</p>
            <p>415-544-9869</p>
            <div class="hours">
                <p><span>Monday thru Thursday</span> <span>11-4</span></p>
                <p><span>Friday </span> <span>11-7</span></p>
                <p><span>Saturday </span> <span>12-4</span></p>
            </div>
            <button class="btn btn-default locations">
                <%= link_to "View Menu", "/food/sf"%>
            </button>
            <button class="btn btn-default home">
                <%= link_to "Get Directions", "/locations" %>
            </button>
        </div>
        <div class="col-sm-9">
            <a href="https://goo.gl/maps/e7VuV" target="_blank">
                <div id="map-us"></div>
            </a>
        </div>
        </div>
        <div class="loc-container">
        <div class="col-sm-3">
            <h4>Palo Alto</h4>
            <p>448 University Avenue <br/> Palo Alto, CA 94301</p>
            <p>650-600-9696</p>
            <div class="hours">
                <p><span>Daily </span> <span>11-9</span></p>
            </div>
            <button class="btn btn-default locations">
                <%= link_to "View Menu", "/food/pa"%>
            </button>
            <button class="btn btn-default home">
                <%= link_to "Get Directions", "/locations"%>
            </button>
        </div>
        <div class="col-sm-9">
            <a href="https://goo.gl/maps/2oSDY" target="_blank">
                <div id="map-pa"></div>
            </a>
        </div>
        </div>
    </div>
</div>