<div class="container-fluid catering">
    <div class="col-sm-12">
    <h2 class="text-center">Sushirrito Catering</h2>
    <p class="brown text-center">Perfect for any business meeting, event or party - serving as few as 5 or as many as 200. Make your next meeting or party a hit. Introducing fast, fresh, filling and eco-friendly sushi..a fresh way to roll!</p>
    <p class="orange text-center">Please fill out this form or call (415) 429-7611 to place your catering order!</p>
    </div>
    <%= form_for @catering_request do |f| %>
        <div class="yellow clearfix">
            <div class="col-sm-12">
                <%= render "shared/success", :target => 'catering_request'%>
                <%= render "shared/errors", :target => @catering_request %>
                <h3 class="brown text-center header">Catering Request Form</h3>
                <p class="header text-center"><b>Your Contact Information</b></p>

                <div class="col-sm-10 center-block">
                    <div class="col-sm-6">
                        <div class="form-group"><%= f.label :name %><%= f.text_field :name, class: 'form-control' %></div>
                        <div class="form-group"><%= f.label :email %><%= f.text_field :email, class: 'form-control' %></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"><%= f.label :company %><%= f.text_field :company, class: 'form-control' %></div>
                        <div class="form-group"><%= f.label :phone %><%= f.text_field :phone, class: 'form-control' %></div>
                    </div>
                </div>

                <hr/>

                <div class="text-center">
                    <p class="header"><b>What is your catering event date?</b></p>
                    <div class="col-sm-4 center-block">
                        <%= f.text_field :event_date, class: 'form-control' %>
                    </div>


                    <p class="header"><b>Is your order for delivery or pick up?</b></p>
                    <p>Delivery is available in San Francisco only with a 10% service charge, at a minimum of $10. Catering orders for pick up must be picked up before noon.</p>
                    <button type="button" class="btn btn-info delivery_btn" data-type="delivery">Delivery</button>
                    <button type="button" class="btn btn-info pickup_btn" data-type="pickup">Pick Up</button>
                    <%= f.text_field :order_type, class: 'hidden' %>


                    <div class="delivery clearfix">
                        <p class="header"><b>Delivery details</b></p>
                        <div class="col-sm-6"><%= f.label :delivery_address %><%= f.text_field :delivery_address, class: 'form-control' %></div>
                        <div class="col-sm-6"><%= f.label :delivery_time, 'Delivery Time (between 11am and 3pm)'%><%= f.text_field :delivery_time, class: 'form-control' %></div>
                    </div>

                    <div class="pickup clearfix">
                        <p class="header"><b>Select Pickup Location</b></p>
                        <button type="button" class="btn btn-info"><a>Sushirrito Fidi</a><span>475 Sansome Street</span></button>
                        <button type="button" class="btn btn-info"><a>Sushirrito Soma</a><span>59 New Montgomery Street</span></button>
                        <button type="button" class="btn btn-info"><a>Sushirrito Union Square</a><span>226 Kearny Street</span></button>
                        <%= f.text_field :pickup_location, class: 'hidden' %>
                    </div>

                </div>

                <hr/>
                <div class="text-center">
                    <p class=" header"><b>Enter your menu item quantities</b></p>
                    <p class="">There is a 5 item minimum for all catering orders</p>
                </div>

                <div class="quantities clearfix">
                    <div class="col-sm-4">
                        <div class="col-xs-6">
                            <p>Satori</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>13.00 x</p>
                            <%= f.text_field :satori_quantity, class: 'form-control' %>
                        </div>
                        <div class="col-xs-6">
                            <p>Geisha's Kiss</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>12.00 x</p>
                            <%= f.text_field :geishas_kiss_quantity, class: 'form-control' %>
                        </div>
                        <div class="col-xs-6">
                            <p>Salmon Samba</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>10.00 x</p>
                            <%= f.text_field :salmon_samba_quantity, class: 'form-control' %>
                        </div>
                        <div class="col-xs-6">
                            <p>Mayan Dragon</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>9.00 x</p>
                            <%= f.text_field :mayan_dragon_quantity, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-xs-6">
                            <p>Sumo Crunch</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>10.50x</p>
                            <%= f.text_field :sumo_crunch_quantity, class: 'form-control' %>
                        </div>
                        <div class="col-xs-6">
                            <p>Porkivore</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>9.50 x</p>
                            <%= f.text_field :porkivore_quantity, class: 'form-control' %>
                        </div>
                        <div class="col-xs-6">
                            <p>Caballero</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>11.00 x</p>
                            <%= f.text_field :caballero_quantity, class: 'form-control' %>
                        </div>
                        <div class="col-xs-6">
                            <p>Buddha Belly</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>9.00 x</p>
                            <%= f.text_field :buddha_belly_quantity, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-xs-6">
                            <p>Bonsai Salad</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>10.00 x</p>
                            <%= f.text_field :bonsai_salad_quantity, class: 'form-control' %></div>
                        <div class="col-xs-6">
                            <p>Lava Nachos</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>8.00 x</p>
                            <%= f.text_field :lava_nachos_quantity, class: 'form-control' %>
                        </div>
                        <div class="col-xs-6">
                            <p>Diablo Sauce</p>
                            <i class="hlpr"></i>
                        </div>
                        <div class="col-xs-6 text-right">
                            <p>1.00 x</p>
                            <%= f.text_field :diablo_sauce_quantity, class: 'form-control' %>
                        </div>
                    </div>
                </div>
                <%= f.text_field :honeypot, class: 'hidden'%>
                <hr/>

                <p class="text-center">Orders must be placed 48 hours prior to your event. However, we may be able to accommodate orders placed the day before or same day depending upon availability. For same-day cancellations we reserve the right to charge up to 50% of the order total.</p>
                <p class="text-center">Orders are not finalized until confirmed by our catering manager.</p>

                <button class="btn btn-default center-block" type="submit">Submit Catering Request</button>
            </div>
        </div>
    <% end %>
</div>

<script>
    $(document).ready(function(){
        $('.delivery_btn, .pickup_btn').on('click',function(){
            $(this).toggleClass('btn-info btn-default');
            if($(this).hasClass('btn-info')){
                $('#catering_request_order_type').val('');
            }else if($(this).hasClass('btn-default')){
                $('#catering_request_order_type').val($(this).data('type'));
            }
            $('.'+$(this).data('type')).slideToggle();
        });

        $('.delivery_btn').on('click',function(){
            $('.pickup_btn').removeClass('btn-default').addClass('btn-info');
            $('#catering_request_delivery_address').val('');
            $('#catering_request_delivery_time').val('');
            $('.pickup').slideUp();
        });

        $('.pickup_btn').on('click',function(){
            $('.delivery_btn').removeClass('btn-default').addClass('btn-info');
            $('.pickup .btn').removeClass('btn-default').addClass('btn-info');
            $('#catering_request_pickup_location').val('');
            $('.delivery').slideUp();
        });

        $('.pickup .btn').on('click',function(){
            $('.pickup .btn.btn-default').toggleClass('btn-info btn-default');
            $(this).toggleClass('btn-info btn-default');
            $('#catering_request_pickup_location').val($(this).children('span').text());
        });

        $('button[data-type="'+$("#catering_request_order_type").val()+'"').click();
    });
</script>