<style>
    .dark{
        display:block !important;
    }
</style>
<div class="home">
    <div class="hero clearfix dashed-btm">
        <div class="container-fluid">
            <div class="col-sm-7">
                <h1><span>Sushirrito<sup>&reg;</sup></span> - The original Sushi Burrito concept!</h1>
                <p>Revolutionizing sushi culture with made-to-order, hand-held Sushi Burritos in delicious Asian and Latin flavor combinations.</p>
            </div>
            <div class="col-sm-5 hand-1"></div>
        </div>
    </div>

    <div class="white clearfix orders">
        <div class="container-fluid">
            <div class="col-sm-7">
                <%= image_tag("home_food.jpg") %>
            </div>
            <div class="col-sm-5">
                <h3>Our Food</h3>
                <p>We strive to challenge the status quo of sushi restaurants through creativity and innovation of flavors, form, and sourcing.</p>
                <%= link_to "Learn More", "/food", class: 'btn btn-default' %>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-sm-8 col-sm-push-4">
                <%= image_tag("home_catering.jpg") %>
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <h3>Catering</h3>
                <p>Make your next meeting or party a hit. Introducing fast, fresh, filling and eco-friendly sushi...a fresh way to roll!</p>
                <%= link_to "Order Now", "/catering", class: 'btn btn-default' %>
            </div>

        </div>
    </div>

    <div class="texture clearfix dashed-btm dashed-top">
        <div class="container-fluid">
            <div class="col-sm-12 col-centered text-center">
                <h3>The Sushi Burrito</h3>
                <p>Feeling constrained by pricey, time-consuming sit-down sushi restaurants and pre-made options that lacked
                    quality and originality, the Sushi Burrito was born as a better way to serve sushi and to combine two of
                    the Bay Area’s favorite foods: sushi and burritos.</p>
                <p>Sushirrito<sup>&reg;</sup>, a San Francisco brand, is the world’s first sushi burrito restaurant concept. With four
                    locations in San Francisco and Palo Alto, the restaurant offers fast, fresh, filling and eco-friendly
                    sushi. Sharing our food and concept, while continuing to change the way people perceive and eat quality
                    sushi—that’s what really drives us!</p>
            </div>
        </div>
    </div>

    <%= render "shared/locations" %>

</div>