<div class="jobs container-fluid">
    <div class="col-sm-12">
        <h2 class="text-center">Sushirrito's Hiring!</h2>
        <p class="brown text-center">Sushirrito® is challenging conventional Japanese cuisine and revamping the current sushi landscape as we know it! We are seeking innovative and eager people to work within an exciting and ambitious environment. Ultimately, candidates need to be excited about helping grow and expand this revolutionary concept. </p>
    </div>
    <%= form_for @job_application do |f| %>
        <div class="yellow clearfix">
            <div class="col-sm-12">
                <%= render "shared/success", :target => 'job_application'%>
                <%= render "shared/errors", :target => @job_application %>
                <h3 class="brown text-center header">Employment Application Form</h3>
                <p class="text-center header"><b>Select desired employment location:</b></p>
                <div class="text-center">
                    <button type="button" class="btn btn-info sf_btn" data-type="san_francisco">San Francisco</button>
                    <button type="button" class="btn btn-info pa_btn" data-type="palo_alto">Palo Alto</button>
                    <%= f.hidden_field :location, class: 'form-control' %>
                </div>
                <hr/>

                <p class="text-center header"><b>Select desired position:</b></p>
                <div class="col-sm-10 center-block radios">
                    <div class="col-sm-4 col-xs-6"><%= f.radio_button :position, 'line_cook' %><%= f.label :position_line_cook, 'Line Cook' %></div>
                    <div class="col-sm-4 col-xs-6"><%= f.radio_button :position, 'prep_cook' %><%= f.label :position_prep_cook, 'Prep Cook' %></div>
                    <div class="col-sm-4 col-xs-6"><%= f.radio_button :position, 'cashier' %><%= f.label :position_cashier, 'Cashier' %></div>
                    <div class="col-sm-4 col-xs-6"><%= f.radio_button :position, 'delivery_driver' %><%= f.label :position_delivery_driver, 'Delivery Driver' %></div>
                    <div class="col-sm-4 col-xs-6"><%= f.radio_button :position, 'manager' %><%= f.label :position_manager, 'Manager' %></div>
                    <div class="col-sm-4 col-xs-6"><%= f.radio_button :position, 'corporate' %><%= f.label :position_corporate, 'Corporate' %></div>
                </div>
                <hr/>
                <p class="text-center header"><b>Your Contact Information</b></p>
                <div class="col-sm-10 center-block">
                    <div class="col-sm-6">
                        <div class="form-group"><%= f.label :name %><%= f.text_field :name, class: 'form-control' %></div>
                        <div class="form-group"><%= f.label :address %><%= f.text_field :address, class: 'form-control' %></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group"><%= f.label :email %><%= f.text_field :email, class: 'form-control' %></div>
                        <div class="form-group"><%= f.label :phone %><%= f.text_field :phone, class: 'form-control' %></div>
                    </div>
                </div>

                <hr/>
                <p class="text-center"><b>Describe your job experience or copy & paste your resume below</b></p>

                <%= f.text_area :experience, class: 'form-control' %>
                <%= f.text_field :honeypot, class: 'hidden'%>
                <button class="btn btn-default center-block">Submit</button>
            </div>
        </div>
   <% end %>
</div>

<script>
    $(document).ready(function(){
        $('.sf_btn, .pa_btn').on('click',function(){
            $(this).toggleClass('btn-info btn-default');
            if($(this).hasClass('btn-info')){
                $('#job_application_location').val('');
            }else if($(this).hasClass('btn-default')){
                $('#job_application_location').val($(this).data('type'));
            }
            $('.'+$(this).data('type')).slideToggle();
        });

        $('.sf_btn').on('click',function(){
            $('.pa_btn').removeClass('btn-default').addClass('btn-info');
        });

        $('.pa_btn').on('click',function(){
            $('.sf_btn').removeClass('btn-default').addClass('btn-info');
        });

        $('button[data-type="'+$("#job_application_location").val()+'"').click();

    });
</script>