<div class="menu">
    <div class="yellow">
        <div class="container-fluid">
            <%= render "shared/locations_nav" %>
        </div>
    </div>
    <div class="section container-fluid">
        <h2>The Sushi Burritos</h2>
        <div class="col-sm-4">
            <%= image_tag("satori_roll.png") %>
            <h4>Satori*</h4>
            <p>Kampachi Yellowtail, Cucumber, Pickled Red Onion, Sweet Corn, Red Tobiko, Avocado, Wasabi Mayo</p>
            <p>13.00</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("geishas_kiss_roll.png") %>
            <h4>Geisha’s Kiss*</h4>
            <p>Yellowfin Tuna (Hand-Line Caught), Tamago, Piquillo Peppers, Yuzu Tobiko, Lotus Chips, Namasu Cucumber, Butter Lettuce, Avocado, Sesame White Soya</p>
            <p>12.00</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("salmon_samba_roll.png") %>
            <h4>Salmon Samba</h4>
            <p>Oven-Baked Agave-Soy Salmon, Tempura Asparagus, Namasu Cucumber, Butter Lettuce, Avocado, Pepitas, Wasabi Dust, Teri-Mayonesa</p>
            <p>10.00</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("sumo_crunch_roll.png") %>
            <h4>Sumo Crunch</h4>
            <p>Shrimp Tempura, Surimi Crab, Shaved Cabbage, Cucumber, Avocado, Red Tempura Flakes, Sriracha Aioli</p>
            <p>10.50</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("caballero_roll.png") %>
            <h4>Caballero</h4>
            <p>Sake-Asada Beef, Napa Cabbage, Red Radish, Julienne Carrots, Jicama, Red Peppers, Blue Corn Chips, Avocado, Cilantro, Kimichurri Sauce</p>
            <p>11.00</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("porkivore_roll.png") %>
            <h4>Porkivore</h4>
            <p>Oven-Roasted Pork Belly, Shaved Cabbage, Red Radish, Avocado, Cilantro, Mustard Seed Mayo</p>
            <p>9.50</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("mayan_dragon_roll.png") %>
            <h4>Mayan Dragon</h4>
            <p>Crispy Chicken Katsu, Purple Peruvian Potatoes, Julienne Carrots, Pickled Red Cabbage, Avocado, Shaved Jalapenos, Japanese Curry</p>
            <p>9.00</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("buddha_belly_roll.png") %>
            <h4>Buddha Belly</h4>
            <p>Spicy Japanese Eggplant, Portobello Mushroom Fries, Julienne Carrots, Kale, Avocado, Roasted Garlic Tofu Sauce</p>
            <p>9.00</p>
        </div>
    </div>
    <div class="section container-fluid">
        <h2>Other**</h2>
        <div class="col-sm-4">
            <%= image_tag("bonsai_salad.png") %>
            <h4>Bonsai Salad*</h4>
            <p>Yellowfin Tuna (Hand-Line Caught), Romaine Lettuce, Julienne Carrots, Namasu Cucumber, Daikon Sprouts, Pepitas, Wasabi Dust, Passion Fruit Miso Dressing</p>
            <p>10.00</p>
        </div>
        <div class="col-sm-4" style="padding-top:72px;">
            <%= image_tag("lava_nachos.png")%>
            <h4>Lava Nachos* (Limited Supply)</h4>
            <p>Brown Rice Chips topped with Tuna Picante, Melted Pepper Jack Cheese, Avocado, Green Onions, Nori Strips</p>
            <p>8.00</p>
        </div>
    </div>
    <div class="container-fluid">
        <p>Our food is best if consumed immediately after purchase.</p>
        <p>Prepared in a kitchen where fish, shellfish, sesame, soy, wheat, gluten, milk, eggs, peanuts, and tree nuts
            are used.</p>
        <p>* Contains raw fish.</p>
        <p>** Please no modifications or substitutions.</p>
    </div>
</div>