<!DOCTYPE html>
<html>
<head>
  <title>Suishirrito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="texture">
            <div class="col-md-5 col-centered logo">
                <%= image_tag("logo.png") %>
            </div>
            <div class="dark clearfix">
                <div class="col-md-10 col-centered text-center nav">
                    <div class="col-md-2 "><%= link_to "Food", "/food" %></div>
                    <div class="col-md-2"><%= link_to "Locations", "/locations" %></div>
                    <div class="col-md-2"><%= link_to "Catering", "/catering" %></div>
                    <div class="col-md-2"><%= link_to "About Us", "/about" %></div>
                    <div class="col-md-2"><%= link_to "Contact", "/contact" %></div>
                    <div class="col-md-2"><%= link_to "Jobs", "/jobs" %></div>
                </div>
            </div>
        </div>

       <%= yield %>
    </div>
</div>

<footer>
    <div class="col-md-3">
        <span>&copy; 2008-2014 SUSHIRRITO</span>
    </div>
    <div class="col-md-5 col-md-offset-4">
        <a href="">Story</a>
        <a href="">Brand</a>
        <a href="">Press Kit</a>
        <a href="">FAQ</a>
        <a href="" class="facebook"></a>
        <a href="" class="twitter"></a>
        <a href="" class="instagram"></a>
        
    </div>
</footer>


</body>
</html>
