<!DOCTYPE html>
<html>
<head>
  <title>Suishirrito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="texture">
            <div class="container">
                <div class="col-md-5 col-centered logo">
                    <%= image_tag("logo.png") %>
                </div>
            </div>
            <div class="dark clearfix">
                <div class="container">
                    <div class="col-md-10 col-centered text-center nav">
                        <div class="col-md-2 "><%= link_to "Food", "/food" %></div>
                        <div class="col-md-2"><%= link_to "Locations", "/locations" %></div>
                        <div class="col-md-2"><%= link_to "Catering", "/catering" %></div>
                        <div class="col-md-2"><%= link_to "About Us", "/about" %></div>
                        <div class="col-md-2"><%= link_to "Contact", "/contact" %></div>
                        <div class="col-md-2"><%= link_to "Jobs", "/jobs" %></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="yellow">
            <div class="container">
                <%= render "shared/about_nav" %>
            </div>
        </div>

       <%= yield %>
    </div>
</div>

<div class="contact">
    <div class="container">
        <h2 class="text-center black">Contact Us</h2>
        <p class="text-center white">If you have any questions or just want to say Hello, we would love to hear from you!</p>
        <form action="">
            <div class="col-md-5">
                <div class="form-group"><label for="name">Name*</label><input type="text" class="form-control"/></div>
                <div class="form-group"><label for="email">Email*</label><input type="text" class="form-control"/></div>
                <div class="form-group"><label for="phone">Phone*</label><input type="text" class="form-control"/></div>
            </div>
            <div class="col-md-7">
                <div class="form-group"><label for="message">Message*</label><textarea name="message" class="form-control"></textarea></div>
                <button class="btn btn-default">Send</button>
            </div>
        </form>

    </div>
</div>

<footer>
    <div class="container">
        <div class="col-md-3">
            <span>&copy; 2008-2014 SUSHIRRITO</span>
        </div>
        <div class="col-md-6 col-md-offset-3 links">
            <%= render "shared/about_nav" %>
        </div>
    </div>
</footer>


</body>
</html>
