<!DOCTYPE html>
<html>
<head>
    <title><%= @title %></title>
    <meta name="description" content="<%= @description %>">
    <meta name="keywords" content="<%= @keywords %>">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVqjpx3iTNBBe9cs4r8leIJpn4mq147u4"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
</head>
<body>
<div class="white container-fluid">
    <div class="row">
        <div class="texture">
            <div class="container-fluid">
                <div class="col-sm-5 col-centered logo">
                    <%= link_to '/'  do %>
                        <%= image_tag("logo.png") %>
                    <% end %>

                </div>
            </div>
            <div class="dark clearfix">
                <div class="container-fluid">
                    <div class="col-sm-10 text-center nav col-sm-offset-1">
                        <div class="col-sm-2 col-xs-4">
                            <%= link_to '/food', class: cp('/food') do %>
                                <%= image_tag('m_food_icon.png') %>
                                Food
                            <% end %>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <%= link_to "/locations", class: cp('/locations')  do %>
                                <%= image_tag('m_locations_icon.png') %>
                                Locations
                            <% end %>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <%= link_to "/catering", class: cp('/catering') do %>
                                <%= image_tag('m_catering_icon.png') %>
                                Catering
                            <% end %>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <%= link_to "/about", class: cp('/about') do %>
                                <%= image_tag('m_aboutus_icon.png') %>
                                About Us
                            <% end %>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <%= link_to "#contact", class:'contact' do %>
                                <%= image_tag('m_contact_icon.png') %>
                                Contact
                            <% end %>
                        </div>
                        <div class="col-sm-2 col-xs-4">
                            <%= link_to "/jobs", class: cp('/jobs') do %>
                                <%= image_tag('m_jobs_icon.png') %>
                                Jobs
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <%= yield %>
    </div>
</div>

<div class="contact_container" id="contact">
    <div class="container-fluid">
        <span class="glyphicon glyphicon-remove close"></span>
        <h2 class="text-center black">Contact Us</h2>
        <p class="text-center white">If you have any questions or just want to say Hello, we would love to hear from you!</p>
        <%= form_for @contact_message do |f| %>
            <%= render "shared/success", :target => 'contact_message' %>
            <%= render "shared/errors", :target => @contact_message %>
            <div class="col-sm-5">
                <div class="form-group"><%= f.label :name %><%= f.text_field :name, class: 'form-control' %></div>
                <div class="form-group"><%= f.label :email %><%= f.text_field :email, class: 'form-control' %></div>
                <div class="form-group"><%= f.label :phone %><%= f.text_field :phone, class: 'form-control' %></div>
            </div>
            <div class="col-sm-7">
                <div class="form-group"><%= f.label :message %><%= f.text_area :message, class: 'form-control' %></div>
                <%= f.text_field :honeypot, class: 'hidden'%>
                <button class="btn btn-default" type="submit">Send</button>
            </div>
        <% end %>

    </div>
</div>

<footer>
    <div class="container-fluid">
        <div class="col-sm-3 col-xs-7">
            <span>&copy; 2008-<%= Time.now.year %> SUSHIRRITO</span>
        </div>
        <div class="col-sm-6 col-sm-offset-3 col-xs-5 links">
            <%= render "shared/about_nav" %>
        </div>
    </div>
</footer>


</body>
</html>
