<!DOCTYPE html>
<html>
<head>
  <title>Suishirrito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="texture">
            <div class="col-md-5 col-centered logo">
                <%= image_tag("logo.png") %>
            </div>
            <div class="dark clearfix">
                <div class="col-md-7 col-centered text-center nav">
                    <div class="col-md-2 "><%= link_to "Food", "/food" %></div>
                    <div class="col-md-2"><%= link_to "Locations", "/locations" %></div>
                    <div class="col-md-2"><%= link_to "Catering", "/catering" %></div>
                    <div class="col-md-2"><%= link_to "About Us", "/about" %></div>
                    <div class="col-md-2"><%= link_to "Contact", "/contact" %></div>
                    <div class="col-md-2"><%= link_to "Jobs", "/jobs" %></div>
                </div>
            </div>
        </div>

       <%= yield %>
    </div>
</div>


</body>
</html>
